/* USER VARIABLES SECTION */

:root {
	--accent: #312E81;
	--red: #EF4444;
	--text: #0F172A;
	--regular-text: 18px;
	--lineheight: 32px;
	--userfont: roboto-st, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: 1.625rem; }
.row, .row > * { --bs-gutter-x: 1rem; }

/* FONTS LOAD SECTION */

@font-face { src: url("../fonts/roboto-regular.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 400; font-style: normal; }
@font-face { src: url("../fonts/roboto-condensed-bold.woff2") format("woff2"); font-family: "roboto-st"; font-weight: 700; font-style: normal; }

/* GENERAL CSS SETTINGS */

::placeholder { color: #475569;font-size: 14px; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
body.lock{overflow: hidden;}
body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}
a{
	text-decoration: none;
	transition: 0.2s ease all;
}
.accent{color: var(--accent);}
/*TITLES*/
h1,h2,h3,h4,h5{font-weight: 700;text-transform: uppercase;}
.like-one,.like-two,.like-three,.like-four,.like-five{font-weight: 700;}
h1,.like-one{
	font-size: 56px;
	line-height: 64px;
}
h2,.like-two{
	font-size: 48px;
	line-height: 56px;
}
h3,.like-three{
	font-size: 32px;
	line-height: 40px;
}
h4,.like-four{
	font-size: 24px;
	line-height: 30px;
}
h5,.like-five{
	font-size: 18px;
	line-height: 24px;
}
.page-content{
	padding: 40px 0 80px 0;
	overflow: hidden;
}
.page-content h1{
	margin-bottom: 32px;
}
.text-center{text-align: center;}
/*BUTTONS*/
.main-btn{
	background: var(--red);
	color: #fff;
	border-radius: 4px;
	padding: 7px 12px;
	display: inline-block;
	font-size: 14px;
	border: none;
}
.alt-btn{
	background: var(--accent);
	color: #fff;
	border-radius: 4px;
	padding: 6px 16px;
	display: inline-block;
	font-size: 14px;
}
.btn-icon{
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-icon img{
	margin-right: 8px;
}
.show-more{
	margin-top: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--accent);
}
.show-more img{
	margin-right: 16px;
}
.main-btn:hover,.alt-btn:hover,.btn-icon:hover{color: #fff;}
/* USER STYLES */
/*HEADER*/
header{
	padding: 20px 0;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1);
	background: #fff;
}
header .logo{
	margin-right: 48px;
	display: flex;
	align-items: center;
}
.logo span{
	font-size: 16px;
	line-height: 22px;
	color: var(--text);
	font-weight: 400;
	padding-left: 16px;
	margin-left: 16px;
	position: relative;
}
.logo span::before{
	content: '';
	width: 1px;
	height: 44px;
	background: var(--text);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
header ul{
	list-style: none;
	display: flex;
	align-items: center;
	padding-left: 0;
	margin-bottom: 0;
}
header ul li{
	margin-left: 32px;
	position: relative;
}
header ul li a{
	color: var(--text);
}
.toggle-button {
	margin-right: 20px;
}
.toggle-button {
	width: 24px;
	height: 18px;
	position: relative;
	z-index: 99;
}
.toggle-button:before {
	content: '';
	position: absolute;
	bottom: 0;
}
.toggle-button:after {
	content: '';
	position: absolute;
	top: 0;
}
.toggle-button span {
    position: absolute;
    top: 8px;
}

.sub-menu{
	position: absolute;
	z-index: 2;
	display: flex;
	padding-left: 0;
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	background: #fff;
	min-width: 200px;
	padding:14px 20px 6px 20px;
	transition: 0.2s ease all;
	opacity: 0;
	visibility: hidden;
}
.has-child:hover .sub-menu{
	visibility: visible;
	opacity: 1;
}
.has-child{
	padding-right: 20px;
	position: relative;
}
.has-child:hover a::after{
	transform: rotate(90deg);
}
.has-child > a::after{
	content: '';
	background: url('../images/angle-vector.svg') no-repeat;
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 10px;
	height: 7px;
	background-size: 100%;
	background-position-y: center;
	transition: 0.2s ease all;
}
.has-child > a{
	cursor: pointer;
	pointer-events: none; 
	position: relative;
}
.sub-menu li{
	margin-left: 0;
}
.sub-menu li + li{
	margin-top: 10px;
}
.toggle-button:after, .toggle-button:before, .toggle-button span {
	width: 100%;
	height: 2px;
	background: var(--accent);
	transition: all .3s ease;
	border-radius: 3px;
	border-radius: 2px;
}
.toggle-button.active::before {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
	bottom: 8px;
}
.toggle-button.active::after {
	width: 100%;
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 8px;
}
.toggle-button.active span {
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: .3s ease;
	-o-transition: .3s ease;
	transition: .3s ease;
}
.phone-widget{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.phone-widget .phone-widget-icon{
	width: 40px;
	height: 40px;
	background: #EEF2FF;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 16px;
}
.phone-widget-info{
	display: flex;
	flex-flow: column;
}
.phone-widget-info a:first-child{
	color: var(--text);
	text-decoration: none;
	line-height: 24px;
}
.phone-widget-info a:last-child{
	color: var(--accent);
	font-size: 12px;
	line-height: 20px;
	text-decoration: underline;
}
.search,.cart{
	cursor: pointer;
	margin-left: 32px;
	position: relative;
}
.cart .cart-count{
	width: 16px;
	height: 16px;
	border-radius: 100%;
	border: 1px solid #fff;
	background: var(--red);
	color: #fff;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: -3px;
	bottom: -3px;
}
.col-lg-3{position: relative;}
/*CATALOGUE*/
.catalogue-item{
	background: #fff;
	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #E2E8F0;
	margin-bottom: 16px;
	transition: 0.3s ease all;
}
.catalogue-item .catalogue-item-info{
	padding: 16px;
	line-height: 24px;
	position: relative;
}
.catalogue-item figure{
	margin-bottom: 0;
}
.catalogue-item .catalogue-item-info-type{
	padding: 16px 0;
}
.catalogue-item .catalogue-item-info-type-item{
	font-size: 14px;
}
.catalogue-item .catalogue-item-info-type-item img{
	margin-right: 12px;
}
.catalogue-item .catalogue-item-info-type-item + .catalogue-item-info-type-item{
	margin-top: 8px;
}
.catalogue-item figure img{
	width: 100%;
	object-fit: cover;
	min-height: 193px;
	max-height: 193px;
}
.catalogue-item-info .catalogue-item-info-title{
	color: inherit;
	font-weight: 700;

}
.catalogue-item-info-details{
	padding-top: 16px;
	margin-top: 16px;
	border-top: 1px solid #E2E8F0;
	display: none;
	transition: 0.3s ease all;
}
.catalogue-item-info-details-item{
	display: flex;
	align-items: center;
	font-size: 14px;
}
.catalogue-item-info-details-item + .catalogue-item-info-details-item{
	margin-top: 8px;
}
.catalogue-item-info-details-category {
	width: 48%;
	color: #475569;
}

/*PAGINATION*/
.pagination ul{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 32px;
}
.pagination ul li + li{
	margin-left: 8px;
}
.pagination ul li.current-page a{
	color: var(--accent);
	border: 1px solid #312E81;
}
.pagination ul li a{
	color: #475569;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #E2E8F0;
	border-radius: 4px;
	width: 40px;
	height: 40px;
	font-size: 14px;
}
/*SUPPORT PROMO*/
.support-promo{
	margin-top: 48px;
	background: var(--accent);
	border-radius: 8px;
	padding: 31px 40px;
	position: relative;
	z-index: 1;
}
.support-promo::before,.support-promo::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: contain !important;
	z-index: -1;
}
.support-promo::before{
	background: url('../images/tyre-before.png') no-repeat ;
	left: 0;
	bottom: 0;
	background-position: left bottom;
}
.support-promo::after{
	background: url('../images/tyre-after.png') no-repeat;
	right: 0;
	top: 0;
	background-position: right bottom;
}
.support-promo .support-promo-text{
	color: #fff;
}
.support-promo .support-promo-text h3{
	margin-bottom: 2px;
}
.support-promo .support-promo-text p{
	margin-bottom: 0;
}
.support-form{
	background: #FFFFFF;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 2px 10px rgba(0, 0, 0, 0.1);
border-radius: 8px;
padding: 4px 4px 4px 16px;
position: relative;
width: 49%;
display: flex;
align-items: center;
justify-content: space-between;
}
.support-form input{
	border: none;
}
/*TESTIMONIALS CAROUSEL*/
.testimonials-carousel{
	margin-top: 48px;
}
.testimonials-carousel .swiper-slide{
	display: block;
	background: #FFFFFF;
border: 1px solid #E2E8F0;
border-radius: 8px;
padding: 24px;
}
.testimonials-carousel .swiper-slide p{
	margin-bottom: 0;
	font-size: 14px;
	color: #475569;
}
.testimonials-carousel .swiper-slide img{
	margin-bottom: 24px;
}
.testimonials-carousel .swiper-slide .rating-stars img{
	margin-bottom: 0;
}
.testimonials-carousel .swiper-slide .rating{
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}
.testimonials-carousel .swiper-slide .rating span{
	font-size: 40px;
	line-height: 48px;
	color: var(--text);
	font-weight: 700;
	margin-right: 16px;
}
/*FOOTER*/
footer{
	border-top: 1px solid #E2E8F0;
	padding: 40px 0;
}
.f-widget h4{
	font-size: 16px;
	margin-bottom: 14px;
}
.f-widget ul{
	list-style: none;
	padding-left: 0;
	margin-bottom: 24px;
}
.f-widget ul li a{
	color: var(--text);
	font-size: 16px;
}
.f-widget ul li {
	line-height: 24px;
}
.f-widget ul li + li{
	margin-top: 8px;
}
.bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 16px;
}
.social ul{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
.social ul li+ li{
	margin-left: 8px;
}
.social ul li a{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--accent);
	font-size: 16px;
	border: 1px solid #E2E8F0;
	border-radius: 100%;
}
.bottom p{
	margin-bottom: 0;
	font-size: 12px;
	text-transform: uppercase;
}
.bottom p a{
	letter-spacing: 0.04em;
	color: rgba(0, 22, 32, 0.8);
	font-weight: 700;
}
/*SIDEBAR FILTER*/
.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.checkbox+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #E2E8F0;
  border-radius: 4px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.checkbox:checked+label::before {
  border-color: var(--accent);
  background-color: var(--accent);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.checkbox-filter label{
	font-size: 14px;
	cursor: pointer;
}
.checkbox-filter label img{
	margin-right: 8px;
}
.sidebar-filter{
	border-right: 1px solid #E2E8F0;
}
.sidebar-filter-widget{
	padding: 32px 40px 32px 0;
}
.sidebar-filter-list::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #E2E8F0 0%, #E2E8F0 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}
.sidebar-filter-list::-webkit-scrollbar {
  width: 4px;
	margin-right: 10px;
}
.sidebar-filter-list{
	max-height: 300px;
	overflow-y: auto;
  scrollbar-gutter: stable;
	position: relative;
}
.sidebar-filter-list::-webkit-scrollbar-track {
  background-color: #fff;
}
.sidebar-filter-widget {
	border-bottom: 1px solid #E2E8F0;
}
.sidebar-filter-widget h4{
	font-size: 16px;
	margin-bottom: 12px;
}
.sidebar-filter-widget p{
	margin-bottom: 8px;
	font-size: 12px;
	color: #475569;
}
.text-radio-filter input{
	position: absolute;
  z-index: -1;
  opacity: 0;
}
.text-radio-filter label{
	position: relative;
	padding: 0px 10px;
	text-align: center;
	font-size: 12px;
	color: #475569;
}
.text-radio-filter input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
	cursor: pointer;
}
.text-radio-filter input+label::before{
	content: '';
  display: inline-block;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #E2E8F0;
	font-size: 12px;
  border-radius: 8px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	left: 0;
	top: 0;
}
.text-radio-filter input:checked+label::before {
	background: linear-gradient(0deg, rgba(49, 46, 129, 0.08), rgba(49, 46, 129, 0.08)), #FFFFFF;
	border: 1px solid #312E81;
}
.text-radio-filter{
	display: inline-block;
}

#search-filter{
	border: 1px solid #E2E8F0;
	border-radius: 8px;
	padding: 9px 9px 9px 44px;
	font-size: 14px;
	width: 100%;
	position: relative;
	background: url('../images/search-filter.svg') no-repeat;
	background-position-y: center;
	background-size: 20px;
	background-position-x: 12px;
	margin-bottom: 16px;
}
.select-widget{
	margin-top: 24px;
}
select{
	width: 100%;
}
.select-widget-item + .select-widget-item{
	margin-top: 8px;
}
.select-widget-item{
	position: relative;
}
.select-widget-item label{
	font-size: 12px;
	color: #475569;
	top: -1px;
    left: 9px;
		position: absolute;
		z-index: 1;
}
.select2-container--default .select2-selection--single{
	border: 1px solid #E2E8F0;
	border-radius: 8px;
	line-height: 22px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image: url('../images/angle.svg');
  background-color: transparent;
  background-size: 100%;
  border: none !important;
  height: 4px !important;
  width: 8px !important;
  margin: auto !important;
  top: auto !important;
  left: auto !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
	display: flex;
	justify-content: center;
	align-items: center;
}
.select2-selection__rendered {
	line-height: 31px !important;
}
.select2-container .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__rendered {
	height: 48px !important;
	font-size: 14px;
	display: flex;
	align-items: flex-end;
	color: var(--text);
}
.select2-selection__arrow {
	height: 47px !important;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
	color: var(--text);
	background: rgba(49, 46, 129, 0.08);
	
}
.select2-results__option{
	padding: 2px 6px;
	font-size: 14px;
	color: var(--text);
	font-size: 14px;
	background: #fff;
}
.select2-container--default .select2-results__option--selected{
	background: rgba(49, 46, 129, 0.08);
}
.select2-dropdown{
	border: 1px solid #E2E8F0;
}
.sort-catalogue .select2-container--default .select2-selection--single .select2-selection__rendered{
	align-items: center;
}
.sort-catalogue .select2-container .select2-selection--single{
	padding-left: 44px;
	background: url('../images/sort.svg') no-repeat;
	background-position-y: center;
	background-position-x: 12px;
}

.page-section{
	overflow: hidden;
	margin-bottom: 40px;
}

/*single*/
.breadcrumbs a{
	color: #475569;
	font-size: 16px;
}
.breadcrumbs span + span{
	padding-left: 24px;
	margin-left: 12px;
	background: url('../images/angle-right.svg') no-repeat;
	background-size: 8px;
	background-position: left center;
	background-position-y: 8px;
	height: 4px;
	background-size: auto;
}
.breadcrumbs span {
	position: relative;

}
.breadcrumbs .current-page a{
	color: #94A3B8;
}
.product-meta{
	margin-bottom: 20px;
}
.product-sku p:first-child{ 
	font-size: 12px;
	color: #475569;
	line-height: 20px;
}
.product-sku p{
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 0;
}
.product-price{
	margin-bottom: 24px;
}
.product-price p{
	font-size: 14px;
	color: #475569;
	margin-bottom: 8px;
}
.product-buy{
	margin-bottom: 80px;
}
.product-buy button{
	padding: 10px 16px;
}
.product-buy button:disabled{
	background: rgba(148, 163, 184, 0.48);
	cursor: no-drop;
}
.product-buy span{
	color: #EF4444;
	font-size: 14px;
	padding-left: 30px;
	background: url('../images/alert.svg') no-repeat;
	background-position: left center;
	margin-left: 26px;
}
table{
	width: 100%;
	margin-bottom: 48px;
}
table tr{
	border-top: 1px solid #E2E8F0;
	border-bottom: 1px solid #E2E8F0;
}
table tr td{
	padding: 16px 0;
}
.product-widget h4{
	margin-bottom: 24px;
}
.product-widget {
	margin-bottom: 48px;
}
.product-widget:last-of-type{
	margin-bottom: 0;
}
.product-map-wrap iframe{
	border-radius: 8px;
}
.recently-carousel .catalogue-item:hover{
	position: relative;
	box-shadow: none;
}
.recently-carousel{
	overflow: hidden;
}
.carousel-nav {
	margin-bottom: 24px;
}
.carousel-nav .nav-btn{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
	border: 1px solid #E2E8F0;
	border-radius: 100%;
}
.carousel-nav .nav-btn:last-child{
	margin-left: 16px;
}
.nav-btn.swiper-button-disabled{
	opacity: 0.4;
}
.best-qualtiy{
	background: #D1FAE5;
	color: #10B981;
}
.product-quality{
	font-size: 12px;
	padding: 0 10px;
	text-align: center;
	border-radius: 100px;
	display: inline-block;
	margin-bottom: 18px;
}
.product-image-carousel{
	overflow: hidden;
}
.product-image-carousel > .swiper-wrapper {
	margin-bottom: 6px;
}
.product-image-carousel > .swiper-wrapper .swiper-slide img{
	width: 100%;
	object-fit: cover;
	min-height: 426px;
	border-radius: 12px;
}
.product-thumbnails > .swiper-wrapper .swiper-slide img{
	width: 100%;
	height: 50px;
	object-fit: cover;
	border-radius: 4px;
	cursor: pointer;
}
.product-thumbnails > .swiper-wrapper .swiper-slide-thumb-active img{
	border: 2px solid #312E81;
}

.multi-range-slider {
	position: relative;
	width: 100%;
	height: 20px;
	display: block;
}

input[type=range] {
	-webkit-appearance: none; 
	width: 100%; 
	background: transparent; 
	-moz-appearance: none;
	appearance: none;
	position: absolute;
	z-index: 10;
	height: 100%;
	margin: 0;
	pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type=range]:focus {
	outline: none; 
}

input[type=range]::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent; 
	border-color: transparent;
	color: transparent;
}

input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	-webkit-appearance: none;
	cursor: pointer;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border: 1px solid #E2E8F0;
	box-shadow: 0px 2px 1px rgba(15, 23, 42, 0.05), 0px 0px 1px rgba(15, 23, 42, 0.25);
	transition: box-shadow 0.3s ease-in-out;
	border-radius: 100%;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
	pointer-events: all;
	cursor: pointer;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border: 1px solid #E2E8F0;
	box-shadow: 0px 2px 1px rgba(15, 23, 42, 0.05), 0px 0px 1px rgba(15, 23, 42, 0.25);
	transition: box-shadow 0.3s ease-in-out;
	border-radius: 100%;
}

input[type=range]::-moz-focus-outer {
	border: 0;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
	pointer-events: all;
	cursor: pointer;
	width: 24px;
	height: 24px;
	background-color: #fff;
	border: 1px solid #E2E8F0;
	box-shadow: 0px 2px 1px rgba(15, 23, 42, 0.05), 0px 0px 1px rgba(15, 23, 42, 0.25);
	transition: box-shadow 0.3s ease-in-out;
	border-radius: 100%;
}

input[type=range].hover::-webkit-slider-thumb {
	box-shadow: 0 0 0 10px rgba(38, 152, 217, 0.1);
} 
input[type=range].hover::-moz-range-thumb {
	box-shadow: 0 0 0 10px rgba(38, 152, 217, 0.1);
} 
input[type=range].hover::-ms-thumb {
	box-shadow: 0 0 0 10px rgba(38, 152, 217, 0.1);
} 
input[type=range].active::-webkit-slider-thumb {
	box-shadow: 0 0 0 20px rgba(38, 152, 217, 0.2);
} 
input[type=range].active::-moz-range-thumb {
	box-shadow: 0 0 0 20px rgba(38, 152, 217, 0.2);
} 
input[type=range].active::-ms-thumb {
	box-shadow: 0 0 0 20px rgba(38, 152, 217, 0.2);
} 
input[type=range]::-webkit-slider-runnable-track {
	background: transparent;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: transparent;
}
input[type=range]::-moz-range-track {
	background: transparent;
}
input[type=range]::-ms-track {
	background: transparent;
}
input[type=range]::-ms-fill-lower {
	background: transparent;
}
input[type=range]:focus::-ms-fill-lower {
	background: transparent;
}
input[type=range]::-ms-fill-upper {
	background: transparent;
}
input[type=range]:focus::-ms-fill-upper {
	background: transparent;
}

.slider {
	position: absolute;
	width: 100%;
	top: 7px;
	z-index: 1;
	height: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.price__wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 16px;
}
.price__wrapper span{
	color: #0F172A;
	font-size: 14px;
	padding: 3px 12px;
	border: 1px solid #E2E8F0;
	border-radius: 8px;
	width: 100%;
	position: relative;
}
.price__wrapper span::after{
	content: '₽';
	position: absolute;
	right: 8px;
	top: 1px;
	bottom: 0;
	margin: auto;
	font-weight: 400;
	color: #475569;
}
.price__wrapper span:last-child{
	margin-left: 16px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: none;
	background-color: #EDEDED;
}

.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	background-color: var(--accent);
}
#selectedValues ul{
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	display: flex;
	flex-flow: wrap;
}
#selectedValues ul li{
	cursor: pointer;
	position: relative;
	font-size: 12px;
	color: #475569;
	background: #F1F5F9;
	padding: 2px 30px 2px 10px;
	border-radius: 30px;
	text-align: center;
	line-height: 20px;
	margin-bottom: 8px;
	margin-right: 6px;
}
#selectedValues ul li::after{
	color: #475569;
	width: 9px;
	height: 9px;
	position: absolute;
	right: 11px;
	content: '\f00d';
	font-family: "Font Awesome 6 Free";
	font-style: normal;
	font-weight: 900;
}
#selectedValues ul li:last-child{
	margin-right: 0;
}
.clear-filter{
	color: #312E81;
	font-size: 14px;
	cursor: pointer;
	text-align: right;
	margin-bottom: 12px;
}
.dropdown-items{
	position: relative;
}
.dropdown-items.active ul{
	opacity: 1;
	visibility: visible;
}
.dropdown-items ul {
	position: absolute;
	background: #fff;
	flex-flow: column;
	z-index: 23;
	max-width: 232px;
	width: 232px;
	padding: 19px 22px;
	box-shadow: 0px 0px 1px rgba(15, 23, 42, 0.2), 0px 26px 80px rgba(15, 23, 42, 0.2);
border-radius: 8px;
align-items: flex-start;
margin-top: 8px;
transition: 0.2s ease all;
opacity: 0;
visibility: hidden;
}
.dropdown-items ul li{
	margin-left: 0;
	font-size: 14px;
	display: flex;
	align-items: center;
}
.dropdown-items ul li img{
	margin-right: 8px;
	width: 24px;
	height: 24px;
}