/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {
	section h2{
		margin-bottom: 30px;
	}
	section{
		padding-top: 60px;
	}
	h2, .like-two{
		font-size: 28px;
	}
	h3, .like-three{
		font-size: 24px;
	}
	h1, .like-one{
		font-size: 38px;
		line-height: 38px;
	}
	.support-promo .support-promo-text h3{
		font-size: 28px;
	}
	.support-promo .support-promo-text p{
		font-size: 14px;
		line-height: 22px;
	}
	.support-promo{
		flex-flow: column;
		padding: 32px 16px;
		align-items: flex-start !important;
		margin-top: 32px;
	}
	.support-form{
		width: 100%;
		flex-flow: column;
    align-items: flex-start;
		padding: 8px;
		margin-top: 24px;
	}
	.support-form button{
		width: 100%;
		padding: 3px 14px;
	}
	.support-form input{
		margin-left: 8px;
		margin-bottom: 8px;
	}
	.support-promo::after{
		content: none;
	}
	.support-promo::before{
		background: url('../images/tyres-mobile.png') no-repeat;
	}
	.testimonials-carousel .swiper-pagination{
		margin-top: 24px;
		position: relative;
	}
	.testimonials-carousel .swiper-pagination .swiper-pagination-bullet-active{
		background: var(--accent);
	}
	.bottom{
		flex-flow: column;
	}
	.bottom .social{
		margin-bottom: 32px;
	}
	.social ul li+ li{
		margin-left: 32px;
	}
	.f-widget ul{
		margin-bottom: 32px;
	}
	footer{
		padding: 32px 0;
	}
	.page-content{
		padding: 34px 0 26px 0;
	}
	.show-more{
		margin-top: 24px;
	}
	.catalogue-item-info-details{
		display: none;
	}
	.catalogue-item{
		position: relative;
	}
	.catalogue-item figure{
		position: absolute;
		top: 16px;
		left: 16px;
	}
	.catalogue-item figure img{
		width: 72px;
		max-width: 72px;
		max-height: 72px;
		min-height: 72px;
		border-radius: 8px;
	}
	.catalogue-item-info .catalogue-item-info-title{
		margin-left: 88px;
		margin-right: 45px;
		display: block;
	}
	.catalogue-item-info-type-item.location-item{
		margin-left: 88px;
	}
	.catalogue-item .catalogue-item-info-type-item + .catalogue-item-info-type-item{
		margin-top: 0;
	}
	.catalogue-item-info-type-item.season-item{
		position: absolute;
		right: 0;
		top: 16px;
	}
	.catalogue-item-info-type-item.season-item span{
		display: none;
	}
	.catalogue-item-info-price {
    padding-top: 20px;
}
.sort-catalogue .select2-container .select2-selection--single{
	padding-left: initial;
	background: none;
}
.sort-catalogue{
	margin-bottom: 20px;
}
.sidebar-filter{
	border: none;
	display: none;
	transition: 0.3s ease all
}
.sidebar-filter.active{
	display: block;
}
.select2-container{width: 100% !important;}
.has-child{padding-right: 0;}
.has-child:hover a::after{
	transform: none;
}
.sub-menu-toggle{
	transition: 0.2s ease all;
	max-height: 0;
}
.sub-menu-toggle.active{
	max-height: 100%;
}
.has-child.active a::after{
	transform: rotate(90deg);
}
.sidebar-filter-widget{
	padding: 32px 0;
}
header .logo{
	margin-right: 0;
}
header{
	position: fixed;
	width: 100%;
	z-index: 200;
}
.product-image-carousel > .swiper-wrapper .swiper-slide img{
	min-height: 326px;
}

.page-section{
	padding-top: 80px;
}
.first-screen,.page-content,.section-page{
	padding-top: 100px !important;
}
.logo span{
	margin-left: 12px;
	padding-left: 12px;
}
aside{
	background: rgb(0 0 0 / 38%);
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100%;
	top: 0;right: 0;bottom: 0;left: -200%;
	overflow-y: auto;
	transition: 0.3s ease all;
}
aside.active{
	left: 0;
}
aside .toggle-button{
	margin-right: 0;
}
.aside-wrap {
    overflow: auto;
    height: 100%;
    width: 90%;
    background: #fff;
		position: relative;
}
.aside-wrap {
    overflow: auto;
    height: 100%;
}
.toggle-menu-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 14px 16px;
}
.toggle-menu-header span{
	font-size: 20px;
	line-height: 28px;
}
aside .btn-icon{
	justify-content: flex-start;
	border-radius: 0;
	padding: 12px 16px;
}
aside ul{
	list-style: none;
	padding: 0 16px;
	overflow: auto;
	margin-bottom: 0;
}
aside ul li a{
	padding: 10px 0;
	width: 100%;
	display: block;
	font-size: 16px;
	color: var(--text);
}
aside .phone-widget{
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	justify-content: flex-start;
	padding: 18px 16px;
	border-top: 1px solid #E2E8F0;
	background: #fff;
	width: 100%;
	margin-top: 40px;
}
.tyre-bg::after{
	bottom: -150px;
}
.product-image-carousel{
	margin-bottom: 30px;
}
header .dropdown-items{
	display: none;
}
.dropdown-items ul{
	box-shadow: none;
	position: relative;
	width: 100%;
	padding: 0 16px;
	max-width: initial;
	height: 0;
}
.dropdown-items{
	opacity: 1;
	visibility: visible;
}
.dropdown-items.active ul{
	height: 100%;
}
.dropdown-items ul li a{
	width: 100%;
	display: block;
}
.first-screen{
	padding: 60px 0;
}
.first-form{
	margin-top: 20px;
	padding: 15px;
}
.first-screen-wrap h1{
	margin-bottom: 20px;
}
.ma-320{
	margin: 0;
}
.contact-form{
	margin-top: 40px;
}
.form-group{
	flex-flow: column;
}
.form-float input{
	margin-bottom: 12px;
}
.form-group .form-float{
	width: 100%;
}
.form-bottom{
	margin-top: 10px;
	flex-flow: column;
	align-items: flex-start;
}
.form-bottom button{
	width: 100%;
}
.form-float label{
	bottom: 60%;
}
.pb{
	padding-bottom: 40px;
}
label.kstl {
	bottom: 69%;
}
.form-bottom span{
	margin-left: 0;
	width: 100%;
	margin-top: 10px;
}
.section-title-text{
	margin-bottom: 20px;
}
.mr-70{
	margin-right: 0;
}
.about-bg{
	min-height: 208px;
	margin-top: 40px;
}
.contact-btn {
	margin-bottom: 8px;
}
.cart-product-list-item img{
	width: 100px;
	height: 100px;
}
.cart-product-list-item-meta{
	flex-flow: column;
	margin-left: 16px;
}
.cart-product-list-item-meta p{
	width: 100%;
	margin-left: 0;
}
.product-cart-price{
	margin-top: 8px;
	justify-content: space-between;
}
.toggle-menu-footer{
	padding: 16px;
}
.toggle-menu-footer a{
	font-size: 14px;
	min-width: 176px;
	text-align: center;
}
.toggle-menu-footer{
	justify-content: space-between;
}
.toggle-menu-wrap{
	padding: 16px;
}
.toggle-menu-info{
	margin-top: 14px;
}
.popup .popup-dialog{
	margin: 0;
	max-height: 100%;
	height: 100%;
}
.popup .popup-dialog .popup-wrap{
	border-radius: 0;
	height: 100%;
	min-height: auto;
	position: fixed;
	overflow-y: scroll;
}
.popup .toggle-menu-header{
	padding-left: 0;
	padding-right: 0;
}
.order-wrap{
	flex-flow: column;
}
.order-wrap-list, .order-wrap-contacts{
	width: 100%;
}
.order-wrap-list::after{
	content: none;
}
.order-wrap-list{
	margin-bottom: 32px;
}
.order-wrap h5{
	font-size: 16px;
}

}

/* sm <= Medium (md) */
@media (max-width : 768px) {

}

/* xs <= Small (sm) */
@media (max-width : 576px) {
	.total-price{
		margin-bottom: 16px;
	}
	.popup-order .toggle-menu-footer{
		align-items: flex-start;
	}
	.toggle-menu-footer{
		flex-flow: column;
	}
	.close-popup{
		margin-bottom: 10px	;
	}
	.toggle-menu-footer a{
		width: 100%;
		margin-left: 0;
	}
	.toggle-menu-footer a:last-child{
		margin-left: 0;
	}
	.contact-btn {
		width: 100%;
	}
	.contact-map{
		min-height: 150px;
	}
	.map-preview{
		min-height: 160px;
	}
	.catalogue-item-info-price {
    padding-top: 0;
}
.logo span{
	font-size: 12px;
	line-height: 16px;
}
.logo img{
	width: 46px;
}
.logo span::before{
	height: 36px;
}
.search, .cart{
	margin-left: 24px;
}
.search{
	margin-left: 0;
}

}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

	.first-screen-wrap{
		margin-right: 40px;
	}
	.has-child > a::after{
		margin-right: -24px;
	}
	aside{display: none;}
	.filter-toggle{
		display: none;
	}
	.testimonials-carousel .swiper-pagination{
		display: none;
	}
	a:hover{opacity: 0.8;}
	.catalogue-item:hover .catalogue-item-info-details{
		display: block;
	}
	.catalogue-item:hover{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: auto;
		min-height: 105%;
		z-index: 2;
		transition: 0.3s ease all;
		box-shadow: 0px 0px 1px rgba(15, 23, 42, 0.2), 0px 26px 80px rgba(15, 23, 42, 0.2);
	}
	.product-image-carousel{
		margin-right: 16px;
	}
}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
